/* Navigation Bar */
#circleImage{

	border-radius: 100%;
	height: 5em;
	width: 5em;
}

.navbar{

    padding: 15px 0px;

}

.navbar-header{
    height: 50px !important;
}

.navbar-brand{
    padding:13px 13px 13px 13px;
    text-transform: uppercase;
    font-weight:300;

}

/* Home */
#logo{
    /* font-family: 'Archive', sans-serif; */
    font-size:35px;
}

#logo #logo-word{
    color: #3333FF;
}

.home{
    color: #FFF;
    text-align:center;
}

.home .title{
    font-size: 120px;
    padding-top: 100px;
    font-weight:bold;
}

.home .subtitle{
    font-size: 25px;
    padding-top: 0px;
    padding-bottom: 70px;
}

/* Other Areas */

.area{
	padding-top: 20px;
    padding-bottom: 50px;	
}

#desc{
	text-align: justify;
}

/* About */

.about1{
    color: #CCC;
    font-size: 22px;
    text-align: center;
}

.about2{
    color: #999;
    padding-top: 30px;
    font-size: 18px;
    text-align: center;
}

/* background definitions*/
.background-home{
    background-color: #6699FF;
}

.background-gray{

	background-color: #EBECED;
}

.anchor{
    display: block;
    position: relative;
    top: -78px;
    visibility: hidden;
}

