@import "shared/styles/imports/variables.css";

.list {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: 33px;
    max-width: 317px;

    & .svg {
        height: 33px;
        width: 33px;
        fill: var(--color-dirty-white);

        &.github:hover {
            fill: var(--color-github);
        }

        &.twitter:hover {
            fill: var(--color-twitter);
        }

        &.instagram:hover {
            fill: var(--color-instagram);
        }

        &.linkedin:hover {
            fill: var(--color-linkedin);
        }

        &.spotify:hover {
            fill: var(--color-spotify);
        }
    }
}